#container {
	width: 100%;
}

#content {
	position: relative;
	width: 1000px;
	max-height: 1160px;
	margin: 20px auto;
}

/* This is the "How can we help you?" title */
#content h1 {
	font-size: 54px;
	color: #e02826;
	text-align: center;
	margin-bottom: 40px;
}

#swipe-hand {
	position: absolute;
	bottom: 8px;
	right: 8px;
}
/* END Content List */
