@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

* {
	font-family: 'Roboto Slab', sans-serif, Helvetica, Arial;
}

html {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

/* +HEADER */
a { text-decoration: none; } /* This is the header element, all things near the top should be contained here */
/* This is the header element, all things near the top should be contained here */
header { width: 100%; height: 100px; text-align: center; font-family: 'Raleway', sans-serif; font-weight: 300; color: #e02826; box-shadow: 0px -3px 8px black; }
	header #clock { position: relative; text-align: center; height: 100px; width: 100%; font-size: 30px; } /* This div contains all the date/time <span> elements. */
	header #clock .date { position: absolute; left: 25%; bottom: 0; color:#e02826; padding-bottom: 28px; } /* mm/dd/yy */
	header #clock .time { font-size: 60px; display: inline-block; position: relative; width: 200px; height: 80px; margin-top: 6px; } /* 00:00 am */
	header #clock #colon { } /* Just in case we want the colon to blink */
	header #clock #am_pm { font-size: 30px; position:absolute; top:27px; margin-left:10px; } /* The am/pm text is smaller than the clock numbers. */
	header #clock .dayofweek { position: absolute; right: 25%; bottom: 0; padding-bottom: 28px; } /* e.g. 'wednesday' */
	header #clock .separator { width: 100%; height: 4px; background-color: #bbb; }
	header .h-button { position:absolute; top: 20px; right: 30px; font-size: 50px; color :#e02826; }
	header .menu { position: absolute; top: 0; left: 0; background-color: #ee3d3b; height: 100%; z-index: 2; width: 0; overflow: hidden; -webkit-transition: width 0.3s ease-out; -moz-transition: width 0.3s ease-out; transition: width 0.3s ease-out; }
	header .menu.show { width: 240px; }
	header .menu .nav-dropdown { margin-top: 100px; width: 240px; overflow: hidden; color: white; padding: 0; display: none; }
	header .menu .nav-dropdown ul { list-style-type: none; padding-left: 15px; width: 200px; }
	header .menu .nav-dropdown ul li { margin: 8px 0; padding: 3px; cursor: pointer; color: white; font-weight: 600; text-align: left; }
	header .menu .nav-dropdown ul li:hover { background-color: #fe4d4b; }
	header #menu-button { height: 100px; width: 120px; position: absolute; top: 0; left: 0; text-align: left; z-index: 3; }
	header #menu-button:hover { /*background-color: #ee3d3b;*/ cursor: pointer; }
	header #menu-button.darker { background-color: #ee3d3b; }
	header #menu-button .white-line-container { display: inline-block; width: 80px; margin: 0 auto; margin-left: 20px; margin-top: 28px; }
	header #menu-button .white-line-container .white-line { height: 6px; width: 100%; background-color: #e02826; margin: 6px 0; }
	header .b-button { position: absolute; left: 165px; top: 0px; width: 100px; height: 100px; font-size: 50px; line-height: 100px; color: #e02826; z-index: 1; }
	header #home { overflow: hidden; width: 100%; height: 990px; margin: 0 auto; position: relative; }

#coverall { position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: none; z-index: 1; background-color: rgba(.0, .0, .0, 0.5); }
.button-pull-up { display: none; position: absolute; bottom: 0; right: 200px; color:white; background-color: #e02826; height: 30px; width: 200px; padding-top: 10px; text-align: center; border-top-right-radius: 4px; border-top-left-radius: 4px; font-family:arial; font-size:15px; font-weight:900; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.button-pull-up.show { bottom: 450px; }
.button-pull-up.show i { -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); transform: rotateX(180deg); }
.button-pull-up:hover { cursor: pointer; }
/* -HEADER */

#content { position: absolute; top: 100px; left: 0; height: calc(100% - 240px); width: calc(100% - 40px); padding: 20px; z-index: -1; }

@media screen and (orientation:portrait) {
	#content { background-image: url("../images/fractal-background-portrait.png"); background-repeat: no-repeat; background-size: 100%; }
}

@media screen and (orientation:landscape) {
	#content { background-image: url("../images/fractal-background-landscape.png"); }
}


/* +FOOTER */
footer { z-index:3; position: absolute; bottom: 0; width: 100%; box-shadow: 0px 1px 6px black;}
	footer .menu-bar { width: 100%; margin: 0 auto; padding: 0 0; background-color: #e02826; }
	footer .menu-bar .menu-bar-wrapper { height: 100px; text-align: center; }
	footer .menu-bar #placeholder { height: 100%; width: 200px; margin: 0 0px; float: left; padding-top:0px; background-color:#b71f28; }
	footer .menu-bar #placeholder:hover{ background-color:#ee3d3b; }
	footer .menu-bar #placeholder1 { height: 100%; width: 200px; margin: 0px 0px 0px 10px; float: left; padding-top:0px; background-color:#b71f28; }
	footer .fa{ font-size:50px; }
	footer .menu-bar #placeholder1:hover{ background-color:#ee3d3b; }
	footer .back { width:100%; font-family:helvetica; font-weight:900; color:white; margin:0 auto; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
	footer .menu-bar #title { height: 100%; font-size: 52px; font-weight: 900; color: white; display: inline-block; margin: 0 auto; }
	footer .menu-bar .menu-button { float: right; background-color: #b71f28; height: 100%; width: 120px; }
	footer .menu-bar .menu-button:hover { background-color: #ee3d3b; cursor: pointer; }
	footer .menu-bar .menu-button.darker { background-color: #ee3d3b; }
	footer .white-line-container { display: inline-block; width: 80px; margin: 0 auto; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
	footer .white-line-container .white-line { height: 6px; width: 100%; background-color: white; margin: 6px 0; }
	footer .nav-dropdown { background-color: #ee3d3b; width: 100%; height: 0px; padding: 5px 0; display: none; }
	footer .nav-dropdown ul { margin: 0 auto; padding-left: 10%; padding-right: 0; }
	footer .nav-dropdown ul li { list-style: none; float: left; color: white; width: 26%; margin: 2px 1%; padding: 8px 1%; }
	footer .nav-dropdown ul li:hover { background-color: #b71f28; cursor: pointer; }
/* -FOOTER */


