*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	position: relative;
	height: 1920px;
	margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	overflow:hidden;
}

#loader {
	position: absolute;
	top: calc(50% - 60px);
	left: calc(50% - 90px);

	height: 120px;
	width: 240px;
}
